.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	align-items: center;
  }
  
  mat-card {
	width: 300px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	padding: 20px;
	align-items: center;
  }
  
  button {
	margin-top: 10px;
  }
  form {
    display: flex;
    flex-direction: column; /* Apila los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente   
 */
}