<!-- 
  <div class="container">
	<mat-card>
		<mat-card-title>Iniciar Sesión</mat-card-title>
		<form >
		  <mat-form-field>
			<input matInput placeholder="Usuario" >
		  </mat-form-field>
		  <mat-form-field>
			<input matInput type="password" placeholder="Contraseña" >
		  </mat-form-field> 
	  
		  <button mat-raised-button color="primary">Iniciar Sesión</button>
		  <button mat-raised-button color="warn">Olvide mi contraseña</button>
		</form>
	</mat-card>
  </div> -->

  <div class="login-wrap cover">
	<div class="container-login">
		<p class="text-center" style="font-size: 80px;">
			<i class="zmdi zmdi-account-circle"></i>
		</p>
		<p class="text-center text-condensedLight">Bienvenido</p>
		<form action="home.html">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="userName">
				<label class="mdl-textfield__label" for="userName">Usuario</label>
			</div>
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
				<input class="mdl-textfield__input" type="text" id="pass">
				<label class="mdl-textfield__label" for="pass">Contraseña</label>
			</div>
			<button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; margin: 0 auto; display: block;">
				Ingresar
			</button>
			
		</form>
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #b11f0cd3; margin: 0 auto; display: block;">
			Olvide mi contraseña
		</button>
	</div>
</div>