<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titulo"> 
          <h2>Empleado Nuevo</h2>
        </div>
        
        <form>
            <span>Datos personales</span>
          <div class="row mb-3">
            <div class="col-6 my-3">
                <input type="text" class="form-control" placeholder="Nombre">
              </div>
            <div class="col-6 my-3">
                <input type="text" class="form-control" placeholder="Apellido">
              </div>
            <div class="col-6 my-6">
                <input type="text" class="form-control" placeholder="DNI">
              </div>
            <div class="col-6 my-6">
                <input type="text" class="form-control" placeholder="Telefono">
              </div>
          </div>
          <span>Datos de la cuenta</span>
          <div class="row mb-3">
            <div class="col-6 my-3">
                <input type="text" class="form-control" placeholder="Nombre de Usuario">
              </div>
            <div class="col-6 my-3">
                <input type="text" class="form-control" placeholder="Contraseña">
              </div>
            
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="avatar-group">
                
                <button type="button" class="btn btn-primary">Agregar Empleado</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  