<div class="contenedor">
    <h2> Bienvenido/a {{data.name}}</h2>
    <span>A continuacion encontrará la informacion de su nombre</span>

    <div>
        <table class="table table-bordered">
            <tr>
                <td>Nombre</td>
                <td>Genero</td>
                <td>Probabilidad</td>
            </tr>
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.gender}}</td>
                <td>{{data.probability}}</td>
            </tr>
        </table>
    </div>
    <H2> Posible nacionalidad del nombre</H2>
    <div>
        <table class="table table-bordered">
            <tr>
                <td> Pais </td>
                <td> Probabilidad </td>
            </tr>
            <tr *ngFor="let pais of dataPais.country">
                <td>{{pais.country_id}}</td>
                <td>{{pais.probability}}</td>
            </tr>
        </table>
    </div>

    <div>
        <form [formGroup]="loginForm" (ngSubmit)="consultarOtroNombre()">
            <label class="form-label">Ingrese otro nombre para chequear</label>
            <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese un nombre">
            <div *ngIf="Controles['nombre'].errors?.['required']">
                <p style="color: red">Campo requerido</p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>