<div class="container">
  <span>
    <h2> Lista de Clientes en espera </h2>
  </span>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Hora de ingreso</th>
        <th scope="col">Cliente</th>
        <th scope="col">Motivo</th>
        <th scope="col">Marcar como prioridad</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <!-- Aca tengo que hacer un foreach por la lista de turnos y 
    mostrar la info que requiera -->
    <tbody>
      <tr>
        <td>14:38</td>
        <td>Ana Fernández</td>
        <td>Compras</td>
        <td><input type="checkbox"></td>
        <td><button class="btn btn-link">Eliminar</button></td>
      </tr>
      <tr>
        <td>14:38</td>
        <td>Ana Fernández</td>
        <td>Compras</td>
        <td><input type="checkbox"></td>
        <td><button class="btn btn-link">Eliminar</button></td>
      </tr>
      <tr>
        <td>14:38</td>
        <td>Ana Fernández</td>
        <td>Compras</td>
        <td><input type="checkbox"></td>
        <td><button class="btn btn-link">Eliminar</button></td>
      </tr>
      </tbody>
  </table>

  </div>