.card {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    background-color: #f8f9fa;  /*Color de fondo de la tarjeta */
    border: 1px solid #ced4da; /*Borde de la tarjeta */
    border-radius: 5px; /* Bordes redondeados */
  }

  .card {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    min-height: 125px;
  }
  
  
  
  .card:hover .card-title,
  .card:hover .bi-person-circle {
    color: #4076c7; /* Tono de celeste más oscuro para el hover */
  }

  /*------------------------Estilo de Datos Cliente------------------------------------*/
  .contenedor {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    
}

.form-container {
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.form-header {
    background-color: #2c6da4;
    color: white;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-body {
    padding: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: 48%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group input[type="email"] {
    width: 100%;
}
