<!-- <body>
    <article class="tile" tabindex="0">
        <div class="tile-text">
            <span class="text-light">
                <br>
                <small>Llamar siguiente</small>
                <p class="label">Cantidad de Empleados Activos</p>
            </span>
        </div>
        <i class="fas fa-user tile-icon"></i>
    </article>

    <div class="card">
        <div class="card-content">
          <div class="text">
            <p class="label">Cantidad de Empleados Activos</p>
            <p class="number">120</p>
          </div>
          <div class="icon">
            <img src="icono.png" alt="Icono" />
          </div>
        </div>
    </div>
  

</body> -->
<div class="container">
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">4 Empleados logueados</h5>
                    <i class="bi bi-person-circle fs-3"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">17 clientes atendidos</h5>
                    <i class="bi bi-person-circle fs-3"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">Tiempo medio de espera</h5>
                    <span>12 minutos</span>
                </div>
            </div>
        </div>
    </div> 
    <span></span>
    <div class="row mb-4">
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">4 Empleados logueados</h5>
                    <i class="bi bi-person-circle fs-3"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">17 clientes atendidos</h5>
                    <i class="bi bi-person-circle fs-3"></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()">
                <div class="card-body">
                    <h5 class="card-title">Tiempo medio de espera</h5>
                    <span>12 minutos</span>
                </div>
            </div>
        </div>
    </div> 
    
</div>
<div class="contenedor">
    <div class="form-container">
        <div class="form-header">
            <h2>Datos Cliente</h2>
        </div>
        <div class="form-body">
            <div class="form-group">
                <input type="text" placeholder="Juan">
                <input type="text" placeholder="Perez">
            </div>
            <div class="form-group">
                <input type="text" placeholder="Compras">
                <input type="text" placeholder="Sin comentarios">
            </div>
            <div class="form-group">
                <input type="email" placeholder="JuanPerez@gmail.com">
            </div>
        </div>
    </div>
</div>