.sidebar {
    height: 100vh;
    padding-top: 20px;
    width: auto;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
  }
  
  .sidebar a:hover {
    background-color: #333;
  }

  .offcanvas {
    width: auto; /* Adjust width based on content */
    max-width: auto; /* Set a maximum width if needed */
  }

  .offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
  }

 

  .container-fluid {
    display: flex;
    flex-direction: column;
}

.col-md-3.col-lg-2 {
    flex: 0 0 auto;
}

.col-md-9.col-lg-10 {
    flex: 1;
}